html {
    background: -webkit-linear-gradient(to right, #F3B700, #FF1B1C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F3B700, #FF1B1C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto', sans-serif;
}